*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#name-color ,.colors{
    margin-top: 25%;
    padding: 2em;
}
#name-color{
    font-weight: bold;
    font-family: 'Courier New';
}
div{
    display: flex;
}
.colors{
     width: 30px;
     height: 30px;
     border-radius: 50px;
     display: flex;
     padding: 20px;
     margin: 10px;
     align-items: center;
     justify-content: center;
     border: none;
    font-weight: bold;
    font-size: 1em;
    transition: 3s;
     transform: rotateY(0deg);
     animation-name: animi;
     animation-duration: 9s;
}
.active{
border :5px solid rgb(105, 31, 224);
}

.conter{
    position: absolute;
    bottom:64%;
    left:15px;
     font-family: 'Courier New';
     font-weight: bold;
}
@keyframes animi {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}